.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background: #fff;
}

.category-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px 16px;
  border-radius: 14px;

  background: #f8f8f8;
  cursor: pointer;
  transition: 0.3s;
}

.category-item:hover {
  background: #eefaf1;
}

.category-item.active {
  background: #0ca44b;
  color: white;
  font-weight: 600;
}

.category-icon {
  font-size: 20px;
}

.category-name {
  font-size: 15px;
  white-space: nowrap;
}

/* MOBILE */

@media (max-width: 768px) {

  .sidebar {
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none;
    margin-top: 40px;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .category-item {
    min-width: 120px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 14px 10px;
    text-align: center;
  }

  .category-icon {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .category-name {
    font-size: 14px;
    white-space: normal;
    line-height: 1.2;
  }
}